@font-face {
	font-family: 'cc';
	src: url("assets/fonts/cc.otf") format("opentype");
}
@font-face {
	font-family: 'ct';
	src: url("assets/fonts/ct.otf") format("opentype");
}
@font-face {
	font-family: 'ct2';
	src: url("assets/fonts/ct2.ttf") format("truetype");
}

div#fixedheader {
	font-family: 'ct', sans-serif;
	font-size: 36px;
	letter-spacing: 0.5px;
	text-align: center;
	color:#FFF;

	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	
	background:#222;
	padding: 15px 0px;
}

p {
	margin: 10px 0px;
}


body {
	font-family: 'cc', sans-serif;
	font-size: 22px;
	color: #222;
	margin: 0px;
	letter-spacing: 0.5px;
}

#maincontainer {
	width: 70%;
	margin: 120px auto;
}

#tableofcontents {
	float: left;
	width:30%;
	padding-top: 100px;

}

#textcontent {
	float: left;
	width:70%;

}

h1 {
	font-family: 'ct';
	font-size: 40px;
	margin-bottom: 10px;
}

h1#title{
	font-size: 45px;
}

.regtext {
	line-height: 30px;
}

hr.hr1 {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 75%;
    margin-left: 0px;
}



